<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>builds a rpm package for apache tomcat and publishes it to yum repo.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>rpms-buildbox</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /tomcat-rpm &amp;&amp; sh build.sh
cp /tomcat-rpm/dist/*rpm /yum/
cd /yum &amp;&amp; createrepo .</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>